.App {
  font-family: sans-serif;
  text-align: center;
}

.custom-class-default {
  background-color: rgb(192, 218, 113);
  cursor: pointer;
}

.custom-class {
  background-color: #ffe846;
  cursor: pointer;
}

.custom-class-replace {
  background-color: rgba(255, 175, 182, 1) !important;
  cursor: pointer;
}

.highlighted {
  background-color: #d9d9d9
}

#tooltip {
  /* background-color: #EEE;
  display: inline-block;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border: 1px solid;
  border-color: #3333FF;
  border-radius: 15px; */
  display: none;
}

#tooltipHover {
  display: none;
}

#popup {
  /* background-color: #EEE;
  display: inline-block;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border: 1px solid;
  border-color: #3333FF;
  border-radius: 15px; */
  display: none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#tooltip1 {
  display: none;
}

#longtext:hover+#tooltip1 {
  display: block;
}

.area-markup-quote {
  resize: none;
  border-radius: 5px;
  margin-bottom: -15px;
}

.area-markup-quote {
  border: 0;
  border-radius: 5px;
  padding: 3px 7px;
  order: 3;
  margin-left: 5px;
  outline: none;
  /* font-family: inherit;
  line-height: 1.5715; */
  height: 40px;
  margin-bottom: 0px;
}

.hight-light-content-panel {
  align-items: center;
  display: flex;
}

.widget_not_handler-button {
  /* display: flex; */
}

.btn-note-markup-quote {
  order: 1;
  margin-right: 5px;
  padding: 7px;
  border: 0;
  background: transparent;
  color: white;
  font-size: 22px;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-note-markup-quote.enable {
  background: #FF9800;
  color: #333;
}

.hight-light-parent-panel {
  position: fixed;
  z-index: 200;
  box-sizing: content-box;
  padding: 5px;
  background: rgba(0, 0, 0, .84);
  border-radius: 7px;
}

.dict-word-panel {
  background: white;
  border: 1px solid #ddd;
  padding: 7px;
  width: 30%;
  max-height: 70%;
  overflow: auto;
  position: relative;
}

.popup-header {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}